# vim: filetype=yaml
extends: default
ignore-from-file: .gitignore
rules:
    comments:
        min-spaces-from-content: 1
    comments-indentation: disable # because my gedit gets weird with colons unless the thorpe is in col1
    document-start:
        present: false
    document-end:
        present: false
    indentation:
        spaces: 4
        indent-sequences: true
    line-length:
        max: 125
        level: warning
