extends: default
ignore-from-file: .gitignore
rules:
  comments:
    min-spaces-from-content: 1
  document-start:
    present: false
  document-end:
    present: false
  indentation:
    spaces: 2
    indent-sequences: true
  line-length:
    max: 125
    level: warning
  new-line-at-end-of-file: disable