[Unit]
Description=Start Docker On Boot

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/docker compose up -d
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
