# adapted from https://ansible.readthedocs.io/projects/lint/rules/yaml/#yamllint-configuration
extends: ../.yamllint
rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments-indentation: false
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  quoted-strings:
    quote-type: double
    required: only-when-needed